/MicroBlog/MicroBlog/Database/
/MicroBlog/MicroBlog/bin/
/MicroBlog/MicroBlog/obj/
/MicroBlog/Tests/bin/
/MicroBlog/Tests/obj/
/MicroBlog/MicroBlog/.idea/
.vs
/MicroBlog/data
/MicroBlog/DataLoader/bin
/MicroBlog/DataLoader/obj
/MicroBlog/DataLoaderGo